<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="pattern2">%d %p %c{1.} [%t] %m%n</Property>
		<Property name="pattern">%d %-5p [%t] %C (%L) - %m%n</Property>

		<!-- Application Name -->
		<Property name="applicationName">lorouter</Property>

		<!-- Active File Path -->
		<Property name="activeFilePath">./log</Property>

		<!-- Active File Size -->
		<Property name="activeFileSize">20MB</Property>

		<!-- Set this path to whereever you want the Logfiles to be rolled over -->
		<Property name="rolledOverFilesPath">./log</Property>

		<!-- This is used to make the daily folders. Be carefull when removing to update the paths below -->
		<Property name="rolledOverFilesDatePattern">yyyy-MM-dd</Property>

		<!-- use .gz to automatically zip rolled over files -->
		<Property name="rolledOverFilesFormatSuffix">.gz</Property>

		<!-- Directory where the files will be archived -->
		<Property name="archiveDirectoryPath">./log/archiv/${hostName}/${applicationName}/</Property>

	</Properties>

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/> -->
			<PatternLayout pattern="${pattern}"/>
		</Console>

		<RollingRandomAccessFile name="RollingFile" fileName="${activeFilePath}/server/${applicationName}_server.log" filePattern="${rolledOverFilesPath}/server/%d{${rolledOverFilesDatePattern}}/${applicationName}_server.log.%i${rolledOverFilesFormatSuffix}">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="200">
				<Delete basePath="${rolledOverFilesPath}/server" maxDepth="2">
					<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="ExecutionResult" fileName="${activeFilePath}/cacheExecutionResult/${applicationName}_cacheExecutionResult.log" filePattern="${rolledOverFilesPath}/cacheExecutionResult/%d{${rolledOverFilesDatePattern}}/${applicationName}_cacheExecutionResult.log.%i${rolledOverFilesFormatSuffix}">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="200">
				<Delete basePath="${rolledOverFilesPath}/cacheExecutionResult" maxDepth="2">
					<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework" level="error"/>
		<Logger name="org.apache.log4j.xml" level="info"/>
		<Logger name="org.eclipse.jetty" level="info"/>

		<Logger name="ch.logobject.router" level="info"/>
		<Logger name="ch.logobject.esri" level="info"/>
		<Logger name="ch.logobject.esri.route.RouteWorld" level="debug"/>
		<Logger name="ch.logobject.server" level="info"/>
		<Logger name="ch.logobject.util" level="info"/>

		<Logger name="ch.logobject.router.exec.algorithm.AStarAlgorithm" level="warn"/>
		<Logger name="ch.logobject.router.exec.computation.LoRouter" level="warn"/>
		<Logger name="ch.logobject.router.api.xml.BeanSerializator" level="warn"/>

		<Logger name="ch.logobject.shapefile.dao.geocoder.GCLuceneIndex" level="warn"/>
		<Logger name="ch.logobject.shapefile.access.ShapeFileAccess" level="warn"/>

		<Logger name="ch.logobject.router.network.exec.SchedulerCacheExecutor.executionResult" level="debug" additivity="false">
			<AppenderRef ref="ExecutionResult"/>
		</Logger>
		<Logger name="ch.logobject.router.network.exec.SchedulerCacheExecutorInc.executionResult" level="debug" additivity="false">
			<AppenderRef ref="ExecutionResult"/>
		</Logger>
		<Logger name="ch.logobject.router.network.exec.FileCacheExecutorInc.executionResult" level="debug" additivity="false">
			<AppenderRef ref="ExecutionResult"/>
		</Logger>

		<Root level="debug">
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>
