<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="10">
	<Properties>
		<!-- Patterns -->
		<Property name="pattern2">%d %p %c{1.} [%t] %m%n</Property>
        <Property name="pattern">%d %-5p [%t] %C2} (%L) - %m%n</Property>
		
		<!-- This pattern will log each log line in its appropriate file -->
		<Property name="addInfoPattern">%d %-5p %X{infos} [%t] %X{jms-type} %c{2} (%L)|%X{MFJ.wp} - %m%n</Property>
		
		<!-- This will also print the route taken by the log, mainly used for debugging the .log files routing logic -->
		<Property name="addInfoPatternVerbose">%d %-5p route: %X{route} addInfo: %X{infos} [%t] %X{jms-type} %c{2} (%L)|%X{MFJ.wp} - %m%n</Property>
		
		<!-- Select one of the pattern above -->
		<Property name="selectedPattern">${addInfoPattern}</Property>
		
		<!-- Application Name -->
		<Property name="applicationName">lodoc</Property>
		
		<!-- Active File Path -->
		<Property name="activeFilePath">./log</Property>
		
		<!-- Active File Size -->
		<Property name="activeFileSize">20MB</Property>
			
		<!-- Set this path to whereever you want the Logfiles to be rolled over -->
		<Property name="rolledOverFilesPath">/els/archiv/${hostName}/${applicationName}</Property>
		
		<!-- This is used to make the daily folders. Be carefull when removing to update the paths below -->
		<Property name="rolledOverFilesDatePattern">yyyy-MM-dd</Property>
		
		<!-- use .gz to automatically zip rolled over files -->
		<Property name="rolledOverFilesFormatSuffix">.gz</Property> 
	</Properties>
	
	<Appenders>
		<!-- 
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/> 
			<PatternLayout pattern="${pattern}"/>
		</Console>
		-->   
		<RollingRandomAccessFile  
			name="RollingFile" 
			fileName="${activeFilePath}/${applicationName}_server.log" 
			filePattern="${rolledOverFilesPath}/%d{${rolledOverFilesDatePattern}}/${applicationName}_server.%i.log${rolledOverFilesFormatSuffix}">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="400">
				<Delete basePath="${rolledOverFilesPath}/" maxDepth="2">
					<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
					<IfLastModified age="61d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
	</Appenders>
  
	<Loggers>
		<Logger name="org.springframework" level="error"/>
		<Logger name="org.apache.log4j.xml" level="info"/>
		<Logger name="org.eclipse.jetty" level="info"/>
		<Logger name="conn.Wire" level="error"/>
		<Logger name="ch.logobject" level = "debug"/>
		<Logger name="freemarker" level = "warn"/>
		<Root level="error">
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>
