<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="default" status="warn" monitorInterval="10" packages="ch.logobject.as.log">
	<Properties>
		<!-- Application Name -->
		<Property name="applicationName">pushd</Property>

		<!-- Active File Path -->
		<Property name="activeFilePath">./log</Property>

		<!-- Active File Size -->
		<Property name="activeFileSize">20MB</Property>

		<!-- Set this path to whereever you want the Logfiles to be rolled over -->
		<Property name="rolledOverFilesPath">./log</Property>

		<!-- This is used to make the daily folders. Be carefull when removing to update the paths below -->
		<Property name="rolledOverFilesDatePattern">yyyy-MM-dd</Property>

		<!-- use .gz to automatically zip rolled over files -->
		<Property name="rolledOverFilesFormatSuffix">.gz</Property>

		<!-- Directory where the files will be archived -->
		<Property name="archiveDirectoryPath">./log/archiv/${hostName}/${applicationName}/</Property>

	</Properties>
	<Appenders>
		<RollingFile name="ALL" fileName="${activeFilePath}/server/${applicationName}_pushd.log" filePattern="${rolledOverFilesPath}/server/%d{${rolledOverFilesDatePattern}}/${applicationName}_server.log.%i${rolledOverFilesFormatSuffix}" append="true">
			<Policies>
				<OnStartupTriggeringPolicy/>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="200">
				<Delete basePath="${rolledOverFilesPath}/server" maxDepth="2">
					<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
			<PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
		</RollingFile>
		<RollingFile name="ERROR" fileName="${activeFilePath}/error/${applicationName}_error.log" filePattern="${rolledOverFilesPath}/error/%d{${rolledOverFilesDatePattern}}/${applicationName}_error.log.%i${rolledOverFilesFormatSuffix}" append="true">
			<Policies>
				<OnStartupTriggeringPolicy/>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}"/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="200">
				<Delete basePath="${rolledOverFilesPath}/error" maxDepth="2">
					<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
			<PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.apache" level="warn" />
		<Logger name="httpclient.wire" level="off" />
		<Logger name="ch.logobject" level="debug" />
		<Logger name="ch.logobject.pushd.net.PushDecoder" level="off" />
		<Logger name="com.relayrides" level="error" />
		<!-- messages -->
		<Logger name="ch.logobject.pushd.push.Client_messages" level="off" />
		<Logger name="ch.logobject.pushd.client.PushSender_messages" level="off" />
		<Logger name="ch.logobject.pushd.msg.NotificationParser_messages" level="off" />
		<Logger name="ch.logobject.pushd.msg.PushMessageParser_messages" level="off" />
		<Logger name="ch.logobject.pushd.msg.SubMessageParser_messages" level="off" />
		<Logger name="ch.logobject.pushd.net.PushDecoder_messages" level="off" />
		<Logger name="ch.logobject.pushd.msg.Message" level="off" />
		<Root level="debug">
			<AppenderRef ref="ALL" />
			<AppenderRef ref="ERROR" />
		</Root>
	</Loggers>
</Configuration>
