<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="10">
	<Properties>
		<!-- Patterns -->
		<Property name="pattern2">%d %p %c{1.} [%t] %m%n</Property>
		<Property name="pattern">%d %-5p [%t] %X{jms-type} %c{2} (%L)|%X{MFJ.wp} - %m%n</Property>
		<Property name="patternPerf">%d [%t] %m%n</Property>
		
		<!-- This pattern will log each log line in its appropriate file -->
		<Property name="addInfoPattern">%d %-5p %X{infos} [%t] %X{jms-type} %c{2} (%L)|%X{MFJ.wp} - %m%n</Property>
		
		<!-- This will also print the route taken by the log, mainly used for debugging the .log files routing logic -->
		<Property name="addInfoPatternVerbose">%d %-5p route: %X{route} addInfo: %X{infos} [%t] %X{jms-type} %c{2} (%L)|%X{MFJ.wp} - %m%n</Property>
		
		<!-- Select one of the pattern above -->
		<Property name="selectedPattern">${addInfoPattern}</Property>
		
		<!-- Application Name -->
		<Property name="applicationName">lomfj</Property>
		
		<!-- Active File Path -->
		<Property name="activeFilePath">./log</Property>
		
		<!-- Active File Size -->
		<Property name="activeFileSize">50MB</Property>
		
		<!-- Set this path to whereever you want the Logfiles to be rolled over -->
		<Property name="rolledOverFilesPath">/els/archiv/${hostName}/${applicationName}</Property>
		
		<!-- This is used to make the daily folders. Be carefull when removing to update the paths below -->
		<Property name="rolledOverFilesDatePattern">yyyy-MM-dd</Property>
		
		<!-- use .gz to automatically zip rolled over files -->
		<Property name="rolledOverFilesFormatSuffix">.gz</Property> 
		
		<Property name="em-perfLogFilename">em-performance</Property>
		
		<Property name="pelix-perfLogFilename">pelix-performance</Property>
		
	</Properties>
    
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%d %-5p [%t] %c{2} (%F:%L) - %m%n"/> --> 
			<PatternLayout pattern="${selectedPattern}"/>
		</Console>
    
		<RollingRandomAccessFile
			name="MergedRollingFile"
			fileName="${activeFilePath}/mfjserver/${applicationName}_mfjserver.log"
			filePattern="${rolledOverFilesPath}/mfjserver/%d{${rolledOverFilesDatePattern}}/${applicationName}_mfjserver.%i.log${rolledOverFilesFormatSuffix}">
			<PatternLayout>
				<Pattern>${selectedPattern}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}" />
				<OnStartupTriggeringPolicy/>	
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="1000">
				<Delete basePath="${rolledOverFilesPath}/mfjserver" maxDepth="2">
					<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
					<IfLastModified age="366d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		
		<RollingRandomAccessFile
			name="MergedErrorFile"
			fileName="${activeFilePath}/error/${applicationName}_error.log"
			filePattern="${rolledOverFilesPath}/error/%d{${rolledOverFilesDatePattern}}/${applicationName}_error.%i.log${rolledOverFilesFormatSuffix}">
			<PatternLayout>
				<Pattern>${selectedPattern}</Pattern>
			</PatternLayout>
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}" />
				<OnStartupTriggeringPolicy/>	
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="1000">
				<Delete basePath="${rolledOverFilesPath}/error" maxDepth="2">
					<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
					<IfLastModified age="61d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>

		<!-- RoutingAppender to dynamically create rolling files per logic -->
		<!-- PLEASE keep routes sorted this way: at the top routes starting with MFJ (sorted alphabetically), Pelix and then processors in alphabetical order -->
		
		<Routing name="RoutingAppender">
			<Routes pattern="${ctx:route}">
				<Route> <!-- Default route -->
					<RollingRandomAccessFile
						name="MainRollingFile"
						fileName="${activeFilePath}/mfj/${applicationName}_mfj.log"
						filePattern="${rolledOverFilesPath}/mfj/%d{${rolledOverFilesDatePattern}}/${applicationName}_mfj.%i.log${rolledOverFilesFormatSuffix}">
						<PatternLayout>
							<Pattern>${selectedPattern}</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
							<SizeBasedTriggeringPolicy size="${activeFileSize}" />
							<OnStartupTriggeringPolicy/>
						</Policies>
						<DefaultRolloverStrategy fileIndex="min" max="1000">
							<Delete basePath="${rolledOverFilesPath}/mfj" maxDepth="2">
								<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
								<IfLastModified age="61d" />
							</Delete>
						</DefaultRolloverStrategy>
					</RollingRandomAccessFile>
				</Route>
        
				<Route key="MfjEventManager">
					<RollingRandomAccessFile
						name="MfjEventManagerRollingFile"
						fileName="${activeFilePath}/eventmanager/${applicationName}_eventmanager.log"
						filePattern="${rolledOverFilesPath}/eventmanager/%d{${rolledOverFilesDatePattern}}/${applicationName}_eventmanager.%i.log${rolledOverFilesFormatSuffix}">
						<PatternLayout>
							<Pattern>${selectedPattern}</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
							<SizeBasedTriggeringPolicy size="${activeFileSize}" />
							<OnStartupTriggeringPolicy/>
						</Policies>
						<DefaultRolloverStrategy fileIndex="min" max="1000">
							<Delete basePath="${rolledOverFilesPath}/rolledOverFilesPath" maxDepth="2">
								<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
								<IfLastModified age="61d" />
							</Delete>
						</DefaultRolloverStrategy>
						<property name="createOnDemand">true</property>
					</RollingRandomAccessFile>
				</Route>
        
				<Route key="MfjHeartbeat">
					<RollingRandomAccessFile
						name="HeartBeatRollingFile"
						fileName="${activeFilePath}/heartbeat/${applicationName}_heartbeat.log"
						filePattern="${rolledOverFilesPath}/heartbeat/%d{${rolledOverFilesDatePattern}}/${applicationName}_heartbeat.%i.log${rolledOverFilesFormatSuffix}"
						createOnDemand="true">
						<PatternLayout>
							<Pattern>${selectedPattern}</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
							<SizeBasedTriggeringPolicy size="${activeFileSize}" />
							<OnStartupTriggeringPolicy/>
						</Policies>
						<DefaultRolloverStrategy fileIndex="min" max="1000">
							<Delete basePath="${rolledOverFilesPath}/heartbeat" maxDepth="2">
								<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
								<IfLastModified age="61d" />
							</Delete>
						</DefaultRolloverStrategy>
						<property name="createOnDemand">true</property>
					</RollingRandomAccessFile>
				</Route>
        
				<Route key="Pelix">
					<RollingRandomAccessFile
						name="PelixRollingFile"
						fileName="${activeFilePath}/pelix/${applicationName}_pelix.log"
						filePattern="${rolledOverFilesPath}/pelix/%d{${rolledOverFilesDatePattern}}/${applicationName}_pelix.%i.log${rolledOverFilesFormatSuffix}">
						<PatternLayout>
							<Pattern>${selectedPattern}</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
							<SizeBasedTriggeringPolicy size="${activeFileSize}" />
							<OnStartupTriggeringPolicy/>
						</Policies>
						<DefaultRolloverStrategy fileIndex="min" max="1000">
							<Delete basePath="${rolledOverFilesPath}/pelix" maxDepth="2">
								<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
								<IfLastModified age="61d" />
							</Delete>
						</DefaultRolloverStrategy>
						<property name="createOnDemand">true</property>
					</RollingRandomAccessFile>
				</Route>
        
				<Route key="DfStecker">
					<RollingRandomAccessFile
						name="DfSteckerRollingFile"
						fileName="${activeFilePath}/df/${applicationName}_df.log"
						filePattern="${rolledOverFilesPath}/df/%d{${rolledOverFilesDatePattern}}/${applicationName}_df.%i.log${rolledOverFilesFormatSuffix}">
						<PatternLayout>
							<Pattern>${selectedPattern}</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
							<SizeBasedTriggeringPolicy size="${activeFileSize}" />
							<OnStartupTriggeringPolicy/>
						</Policies>
						<DefaultRolloverStrategy fileIndex="min" max="1000">
							<Delete basePath="${rolledOverFilesPath}/df" maxDepth="2">
								<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
								<IfLastModified age="366d" />
							</Delete>
						</DefaultRolloverStrategy>
						<property name="createOnDemand">true</property>
					</RollingRandomAccessFile>
				</Route>
        
				<Route key="StrabagFnasServiceProcessor">
					<RollingRandomAccessFile
						name="StrabagRollingFile"
						fileName="${activeFilePath}/fnas/${applicationName}_fnas.log"
						filePattern="${rolledOverFilesPath}/fnas/%d{${rolledOverFilesDatePattern}}/${applicationName}_fnas.%i.log${rolledOverFilesFormatSuffix}">
						<PatternLayout>
							<Pattern>${selectedPattern}</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
							<SizeBasedTriggeringPolicy size="${activeFileSize}" />
							<OnStartupTriggeringPolicy/>
						</Policies>
						<DefaultRolloverStrategy fileIndex="min" max="1000">
							<Delete basePath="${rolledOverFilesPath}/fnas" maxDepth="2">
								<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
								<IfLastModified age="366d" />
							</Delete>
						</DefaultRolloverStrategy>
						<property name="createOnDemand">true</property>
					</RollingRandomAccessFile>
				</Route>
        
				<Route key="UeaProcessor">
					<RollingRandomAccessFile
						name="UEARollingFile"
						fileName="${activeFilePath}/uea/${applicationName}_uea.log"
						filePattern="${rolledOverFilesPath}/uea/%d{${rolledOverFilesDatePattern}}/${applicationName}_uea.%i.log${rolledOverFilesFormatSuffix}">
						<PatternLayout>
							<Pattern>${selectedPattern}</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
							<SizeBasedTriggeringPolicy size="${activeFileSize}" />
							<OnStartupTriggeringPolicy/>
						</Policies>
						<DefaultRolloverStrategy fileIndex="min" max="1000">
							<Delete basePath="${rolledOverFilesPath}/uea" maxDepth="2">
								<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
								<IfLastModified age="366d" />
							</Delete>
						</DefaultRolloverStrategy>
						<property name="createOnDemand">true</property>
					</RollingRandomAccessFile>
				</Route>
			</Routes>
		</Routing>
    
		<RollingRandomAccessFile 
			name="AuditAdmOpFile"
			fileName="${activeFilePath}/audit/${applicationName}_audit.log"
			filePattern="${rolledOverFilesPath}/audit/%d{${rolledOverFilesDatePattern}}/${applicationName}_audit.%i.log${rolledOverFilesFormatSuffix}">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}" />
				<OnStartupTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="1000">
				<Delete basePath="${rolledOverFilesPath}/audit" maxDepth="2">
					<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
					<IfLastModified age="61d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
    
		<RollingRandomAccessFile 
			name="FNASPDUMonitor"
			fileName="${activeFilePath}/incomplete_fnas_pdus/${applicationName}_incomplete-fnas-pdus.log"
			filePattern="${rolledOverFilesPath}/incomplete-fnas-pdus/%d{${rolledOverFilesDatePattern}}/${applicationName}_incomplete-fnas-pdus.%i.log${rolledOverFilesFormatSuffix}">
			<PatternLayout>
				<Pattern>${pattern}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}" />
				<OnStartupTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="1000">
				<Delete basePath="${rolledOverFilesPath}/incomplete_fnas_pdus" maxDepth="2">
					<IfFileName glob="**/*${rolledOverFilesFormatSuffix}" />
					<IfLastModified age="61d" />
				</Delete>
			</DefaultRolloverStrategy>
			<property name="createOnDemand">true</property>
		</RollingRandomAccessFile>
		
		<RollingRandomAccessFile
			name="EM-PerformanceMetricsFile"
			fileName="${activeFilePath}/${em-perfLogFilename}/${em-perfLogFilename}.log"
			filePattern="${rolledOverFilesPath}/${em-perfLogFilename}/%d{${rolledOverFilesDatePattern}}/${applicationName}_${em-perfLogFilename}.%i.log${rolledOverFilesFormatSuffix}"
			createOnDemand="true">
			<PatternLayout>
				<Pattern>${patternPerf}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}" />
				<OnStartupTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="4"/>
		</RollingRandomAccessFile>
		
		<RollingRandomAccessFile
			name="PELIX-PerformanceMetricsFile"
			fileName="${activeFilePath}/${pelix-perfLogFilename}/${pelix-perfLogFilename}.log"
			filePattern="${rolledOverFilesPath}/${pelix-perfLogFilename}/%d{${rolledOverFilesDatePattern}}/${applicationName}_${pelix-perfLogFilename}.%i.log${rolledOverFilesFormatSuffix}"
			createOnDemand="true">
			<PatternLayout>
				<Pattern>${patternPerf}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="${activeFileSize}" />
				<OnStartupTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy fileIndex="min" max="4"/>
		</RollingRandomAccessFile>
	</Appenders>
  
	<Loggers>
		<Logger name="org.springframework" level="error"/>
		<Logger name="org.apache.log4j.xml" level="info"/>
		<Logger name="org.eclipse.jetty" level="warn"/>
		<Logger name="ch.logobject.server.MfjServletJson" level="info"/>
		<Logger name="ch.logobject.server.json.JsonBeanSerializator" level="info"/>
		<Logger name="ch.logobject.util" level="debug"/>
		<Logger name="ch.logobject.mfj.services.dfstecker.DfStecker-messages" level="off"/>
		<Logger name="ch.logobject.logging.Audit" level="trace">
			<AppenderRef ref="AuditAdmOpFile"/>
		</Logger>
		<Logger name="FNAS PDU Monitor" level="trace" additivity="false">
			<AppenderRef ref="FNASPDUMonitor"/>
		</Logger>
		<Logger name="ch.logobject.mfj.em-performance" level="debug" additivity="false">
			<AppenderRef ref="EM-PerformanceMetricsFile"/>
		</Logger>
		<Logger name="ch.logobject.mfj.pelix-performance" level="debug" additivity="false">
			<AppenderRef ref="PELIX-PerformanceMetricsFile"/>
		</Logger>
		<Root level="trace">
			<AppenderRef ref="RoutingAppender"/>
			<AppenderRef ref="MergedRollingFile"/>
		</Root>
    
	</Loggers>
</Configuration>
